* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 60.5%;
}

body {}

::selection {
    background-color: #f00;
    color: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}

.col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column wrap;
}